{% load static %}
<!DOCTYPE html>
<html lang='en'>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>
			CRUD
		</title>
		<link rel="stylesheet" href="{% static 'piperuser/css/bootstrap.css' %}">
		<link rel="stylesheet" href="{% static 'piperuser/css/bootstrap.min.css' %}">
	</head>
	<body>
		<div class="container mt-5">
			<h2 class="text-center alert alert-danger">Welcome to PiperChat</h2>
			{% block content %}
			{% endblock content%}
		</div>
		<script src="{% static 'piperuser/js/popper.js' %}"></script>
		<script src="{% static 'piperuser/js/bootstrap.js' %}"></script>
	</body>
	<!-- <h5 class="text-center" style="color:maroon">Designed By Anuj Singh</h5>
</html> -->