{% extends 'piperuser/base.html' %}
{% block content %}
{% load static %}
{% load crispy_forms_tags %}
{%if user.is_authenticated %}
	<div class="row">
		<div class="col-sm-6" style="margin: auto;">
			<h3 class="text-center alert alert-info">Users Information</h3>
				<table class="table table-hover">
					<div class="card">
						<form action="{% url 'editprofile' %}" method="POST">
							{% csrf_token %}
							{{form|crispy}}
							<button type="Submit" value="add">Confirm</button>
						</form>
					  </div>
					</tbody>
				</table>
		</div>
	</div>
{% else %}
<div class="row">
	<div class="text-center col-sm-5 offset-3">
		<button type="submit" class="btn btn-info"><a href="{% url 'login' %}">Login</a></button>
	</div>
</div>
{% endif %}
{% endblock content %}
