{% extends 'piperuser/base.html' %}
{% block content %}
{% load static %}
{%if user.is_authenticated %}
	<div class="row">
		<div class="col-sm-6" style="margin: auto;">
			<h3 class="text-center alert alert-info">{{user.username | capfirst}} Profile</h3>
				<table class="table table-hover">
					<div class="card">
						<img src="{% static 'piperchat/avatar.png' %}" alt="John" style="width:50%; margin: auto;">
						<h1>{{user.username}}</h1>
						<p>{{user.email}}</p>
						<p>{{user.first_name | capfirst}} {{user.last_name}}</p>
						<p><button><svg height="22" width="20">
							<circle cx="10" cy="10" r="4" fill="green" />
						</svg>  Online</button></p>
						
					  </div>
					</tbody>
				</table>
				<div class="btn" style="display: flex; justify-content: space-between;">
					<div class="btn-group" role="group" aria-label="Basic example"">
						<a href="{% url 'editprofile' %}" style="text-decoration: none;"><button type="button" class="btn btn-secondary">Edit</button></a>
					</div>
					<div class="btn-group" role="group" aria-label="Basic example"">
						<a href="{% url 'profilesearch' %}" style="text-decoration: none;"><button type="button" class="btn btn-secondary">Search</button></a>
					</div>
					<div class="btn-group" role="group" aria-label="Basic example"">
						<a href="{% url 'logout' %}" style="text-decoration: none;"><button type="button" class="btn btn-secondary">Logout</button></a>
					</div>
					<div class="btn-group" role="group" aria-label="Basic example"">
						<a href="{% url 'index' %}" style="text-decoration: none;"><button type="button" class="btn btn-secondary">Chat</button></a>
					</div>
				</div>
		</div>
	</div>
{% else %}
<div class="row">
	<div class="text-center col-sm-5 offset-3">
		<button type="submit" class="btn btn-info"><a href="{% url 'login' %}">Login</a></button>
	</div>
</div>
{% endif %}
{% endblock content %}
