{% extends 'piperuser/base.html' %}
{% block content %}
{% load static %}
{%if user.is_authenticated %}
	<div class="row">
		<div class="col-sm-6" style="margin: auto;">
			<h3 class="text-center alert alert-info">Users Information</h3>
				<table class="table table-hover">
					<div class="card">
						<img src="{% static 'piperchat/avatar.png' %}" alt="John" style="width:50%; margin: auto;">
						<h1>{{user.username}}</h1>
						<p>{{user.email}}</p>
						<p>{{user.first_name}} {{user.last_name}}</p>
						<a href="#"><i class="fa fa-dribbble"></i></a>
						<a href="#"><i class="fa fa-twitter"></i></a>
						<a href="#"><i class="fa fa-linkedin"></i></a>
						<a href="#"><i class="fa fa-facebook"></i></a>
						<p><button>Contact</button></p>
					  </div>
					</tbody>
				</table>
				<div class="btn" style="display: flex; justify-content: space-around;">
					<div class="btn-group" role="group" aria-label="Basic example"">
						<a href="{% url 'editprofile' %}" style="text-decoration: none;"><button type="button" class="btn btn-secondary">Edit</button></a>
					</div>
					<div class="btn-group" role="group" aria-label="Basic example"">
						<a href="{% url 'index' %}" style="text-decoration: none;"><button type="button" class="btn btn-secondary">Chat</button></a>
					</div>
				</div>
		</div>
	</div>
{% else %}
<div class="row">
	<div class="text-center col-sm-5 offset-3">
		<button type="submit" class="btn btn-info"><a href="{% url 'login' %}">Login</a></button>
	</div>
</div>
{% endif %}
{% endblock content %}
